@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
a{
    text-decoration: none;
    text-transform: none;
    color: #ffce06;
    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: 2px;
}